# Node
node_modules/
dist/

# Rust
target/

# Tauri
src-tauri/target/
src-tauri/gen/schemas/

# Virtual Environment
venv/
.venv/
ENV/

# Project specific
settings.json
prayer_cache.json

# IDEs
.vscode/
.idea/
*.suo
*.sln

# Misc
*.log
.DS_Store
